## Features Selection:
    * Numerical feature:
        Multiple_deliveries
        Distance
        Delivery_person_Age
    * Categorical feature:
        Festival
        Road_traffic_density

In [383]:
#  data[[feature_selection]].to_csv('../dataset/dataset_selection.csv')

In [385]:
import pandas as pd
import numpy as np

data = pd.read_csv('../dataset/dataset_clean.csv')
data = data[['Multiple_deliveries','Distance','Delivery_person_Age','Festival','Road_traffic_density','Time_taken_(min)']]

In [386]:
data

,Multiple_deliveries,Distance,Delivery_person_Age,Festival,Road_traffic_density,Time_taken_(min)
0,1.0,3.018911,36.0,No,High,25.0
1,1.0,13.973178,37.0,No,Medium,40.0
2,1.0,6.058825,25.0,No,High,30.0
3,1.0,19.975520,28.0,No,Low,11.0
4,1.0,12.435540,22.0,No,Jam,47.0
...,...,...,...,...,...,...
44652,1.0,1.465159,26.0,No,Low,21.0
44653,1.0,2.979763,28.0,No,Low,18.0
44654,1.0,13.894367,30.0,No,Low,35.0
44655,1.0,10.444972,20.0,No,Low,18.0
44656,1.0,7.771834,24.0,No,Low,17.0

In [387]:
X = data.drop(['Time_taken_(min)','Festival','Road_traffic_density'], axis = 1).values
y = data['Time_taken_(min)'].values

In [388]:
#X

array([[ 1.        ,  3.01891148, 36.        ],
       [ 1.        , 13.97317756, 37.        ],
       [ 1.        ,  6.05882517, 25.        ],
       ...,
       [ 1.        , 13.89436656, 30.        ],
       [ 1.        , 10.44497153, 20.        ],
       [ 1.        ,  7.7718343 , 24.        ]])

In [389]:
#y

array([25., 40., 30., ..., 35., 18., 17.])

In [390]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [391]:
#fvalue_Best = SelectKBest(f_classif, k=1)
#fvalue_Best = SelectKBest(f_classif, k=2)
fvalue_Best = SelectKBest(f_classif, k=3)
X_kbest = fvalue_Best.fit_transform(X, y)
print('Original number of features:', X.shape)
print('Reduced number of features:', X_kbest.shape)

Original number of features: (44657, 3)
Reduced number of features: (44657, 3)

In [392]:
from sklearn.linear_model import LinearRegression
LnRegres = LinearRegression()
LnRegres.fit(X_kbest,y)

LinearRegression()

In [393]:
yHat = LnRegres.predict(X_kbest)

In [394]:
from sklearn.metrics import mean_squared_error as mse
mse(yHat, y)

62.285030672415225

In [395]:
from sklearn.preprocessing import LabelEncoder
lE = LabelEncoder()

In [396]:
data['Road_traffic_density'] = lE.fit_transform(data['Road_traffic_density'])
data['Festival'] = lE.fit_transform(data['Festival'])

In [397]:
data

,Multiple_deliveries,Distance,Delivery_person_Age,Festival,Road_traffic_density,Time_taken_(min)
0,1.0,3.018911,36.0,0,0,25.0
1,1.0,13.973178,37.0,0,3,40.0
2,1.0,6.058825,25.0,0,0,30.0
3,1.0,19.975520,28.0,0,2,11.0
4,1.0,12.435540,22.0,0,1,47.0
...,...,...,...,...,...,...
44652,1.0,1.465159,26.0,0,2,21.0
44653,1.0,2.979763,28.0,0,2,18.0
44654,1.0,13.894367,30.0,0,2,35.0
44655,1.0,10.444972,20.0,0,2,18.0
44656,1.0,7.771834,24.0,0,2,17.0

In [398]:
X = data.drop('Time_taken_(min)',axis =1).values
y = data['Time_taken_(min)'].values

## Linear Regression

In [399]:
model_LR = LinearRegression()
model_LR.fit(X,y)

LinearRegression()

In [400]:
yHat_LR = model_LR.predict(X)

In [401]:
mse(yHat_LR,y)

56.279094409903564

## Polynomial Regression

In [402]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

d5 = PolynomialFeatures(degree = 5)
X_poly = d5.fit_transform(X)

model_poly = LinearRegression()
model_poly.fit(X_poly, y)

LinearRegression()

In [403]:
yHat_poly = model_poly.predict(d5.fit_transform(X))

In [404]:
mse(yHat_poly,y)

46.779589908533666